html, body, .card-content, .number-picker {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Unbounded', sans-serif;
    user-select: none;
}

.card-content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.card-content > div{
    min-height: 5rem;
}
.scritch, .number-option {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scritch{
    font-size: 5rem;
    border: 1px solid transparent;
    background-image: radial-gradient( #443 50%, #8CF 60%, transparent 70%);
    cursor: pointer;
}.scritch:hover{
    border: 1px solid white;
}.scritch.pickme{
    background-image: radial-gradient( #80807A 50%, #8CF 60%, transparent 70%);
    border: 1px solid white;
}

.info{
    grid-column: 5;
    grid-row: 2/ span 3;
    justify-self: center;
}

.info .all{
    font-size: .7rem;
}

/*
.info .reset{
    padding: 1rem;
    margin: 3rem;
    border: 5px white double;
    border-radius: 1rem;
    font-size: 2rem;
    text-align: center;
}
*/
.info div{ margin: 1rem; }




.info .reset {
    font-size: 3rem;
    text-align: center;

    --a: 8deg; /* control the angle of rotation (the smaller, the better) */
    border: 5px #F002 double;
    border-radius: 20px;
    background-color: #F006;

    transform: perspective(400px) rotate3d(var(--r,1,-1),0,calc(var(--i,1)*var(--a)));
    -webkit-mask: 
      linear-gradient(135deg,#000c 40%,#000,#000c 60%)
      100% 100%/250% 250%;
    transition: .4s;
    cursor: pointer;
  }
  .info .reset:hover {
    --i: -1;
    -webkit-mask-position: 0 0;
  }







.number-picker{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.number-option{
    font-size: 1rem;
}.number-option:hover{
    font-size: 1.1rem;
    font-weight: bold;
    color: #000;
    background-color: #FCF
}

.number-dead {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}.number-dead:hover{
    font-size: 1.1rem;
    font-weight: bold;
}


.line {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    padding: 1.5rem;
    white-space: nowrap;
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
}

.line0, .line1, .line2 { background-image: url("east.svg");}
.line3, .line4, .line5 { background-image: url("south.svg");}
.line6 { background-image: url("se.svg"); }
.line7 { background-image: url("sw.svg"); }

.line > .best{
    font-size: 105%;
    font-weight: bold;
    color: gold;
}

.line > .all {
    font-size: .7rem;
    white-space: normal;
}